#MotCategories {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  height: 100vh;
}

#LogoWrapper{
  display: flex;
  align-items: center;
}

#NoLogoWrapper{
  display: none;
}

#MoTLogo {
  position: relative;
  left: 6%;
  width: 199px;
  height: 90px;
}

#DootedArc {
  position: relative;
  left: -189px;
}

.CategoryCardWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}



.CategoryNumber{
    width: 93px;
height: 86px;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 33px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.CategoryDesciptionWrapper{
    width: 417px;
    height: 127px;
    border-radius: 74px 74px 74px 74px / 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

}


.Odd{
  background-color: #A0C5E0;
}

.even{
  background-color: #193F5B;
  color: white;

}

#CardCategories{
    display: flex;
    flex-direction: column;
    row-gap: 40px ;
  
}


@media (max-width:680px) {
    .CategoryCardWrapper{
      left: unset !important;
    }

    #CardCategories{
      width: 100%;
    }

    .CategoryDesciptionWrapper {
      width: 90%;
    }

    .CategoryNumber{
      width: 10%;
      height: 50px;

    }
}