#ContactUsSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

#ContactUsInfo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ContactMethodCard {
  width: 30%;
  height:128px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ContactMethodCard:nth-child(2){
  border-left: 1px solid black;
  border-right: 1px solid black;

}

.IconWrapper{
  max-height: 50px;
}

.IconWrapper >svg{
  font-size: 3vw;
}

.ColumnValue{
  min-height: 40px;
} 

#GetInTouchLabel{
  width: 90%;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}